.rightbar {
  background: #fff;
  padding: $m-size;
  position: absolute;
  display: block;
  top: $m-size;
  bottom: $m-size;
  right: $m-size;
  width: $toolbar;
  border-radius: 5px;
  z-index: 998;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,.33));
}


// .leaflet-container {
//   display: block;
//   position: absolute;
//   top: $m-size;
//   bottom: $m-size;
//   right: $m-size;
//   left: $map-left;
//   border: none;
//   // min-height: 100%;
//   overflow: hidden;
//   border-radius: 5px;
// }
