# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

jest.config.json
yarn-error.log
yarn.lock
docker_notes.md
Dockerfile
package-lock.json
stats.json