// Colors
// Spacing
//hello
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size-plus: 33.2rem;
$xxl-size: 6.0rem;
$map-left: 7.6rem;
$toolbar: 30.0rem;
$toolbar-pad: 36.8rem;
$desktop-breakpoint: 45rem;
$widget-widgt: 26.8rem;


$carto-red: #F04F50;
$reveal-blue: #162D50;
$carto-blue: rgb(23, 133, 251);

$off-black: #20222e;
$white: #fff;
$off-white: #a5afd7;

$dark-blue: #333745;
$purple: #8357c5;
$blue: #3c4251;
$light-blue: #464b5e;
